<app-sidnav></app-sidnav>
<div class="container">
    <h2> Change Password</h2>
    <form #changePassword="ngForm" (ngSubmit)="onSubmit(changePassword)">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <label for="password">Old Password</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="model.oldPassword" name="oldPassword" required #oldPassword="ngModel">
                    <div *ngIf="!oldPassword?.valid && (oldPassword?.dirty ||oldPassword?.touched)" class="alert alert-danger">
                        <div [hidden]="!oldPassword.errors.required">
                            Old Password is needed to be provided
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="passworde" [(ngModel)]="model.newPassword" name="newPassword" required #passwod="ngModel">
                    <div *ngIf="!passwod?.valid && (passwod?.dirty ||passwod?.touched)" class="alert alert-danger">
                        <div [hidden]="!passwod.errors.required">
                            New Password is needed to be provided
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="form-group">
                    <label for="password">Confrom New  Password</label>
                    <input type="password" class="form-control" id="passwor" [(ngModel)]="model.confirmNewPassword" name="confirmNewPassword"
                        required #confirmNewPassword="ngModel">
                    <div *ngIf="!confirmNewPassword?.valid && (confirmNewPassword?.dirty ||confirmNewPassword?.touched)" class="alert alert-danger">
                        <div [hidden]="!confirmNewPassword.errors.required">
                            Conform  Password is needed to be provided
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="clearfix mt15 mb15">
                    <button type="submit" class="btn btn-success" [disabled]="!changePassword.form.valid">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>