<app-cheader></app-cheader>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">D-SEWA CART</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Action</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let pho of order">
                        <tr>
                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                            <td>{{pho.orderName}}</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" value="1" /></td>
                            <td class="text-right"><button class="btn btn-danger " (click)="deleteOrder(pho.id)"><i class="fa fa-trash"></i> </button></td>
                        </tr>                                                          
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a routerLink="/customer" class="btn btn-block btn-light" routerLinkActive="active">Continue Shopping</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a routerLink="/search" class="btn btn-lg btn-block btn-success text-uppercase" routerLinkActive="active">Search Store</a>
                </div>
            </div>
        </div>
    </div>
</div>

