<script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>

<app-sidnav></app-sidnav>
<div class="container">
  <h2>Add New Item</h2>
  <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <label for="fname">Items Name</label>
          <input type="text" class="form-control" id="fname" required [(ngModel)]="model.itemsName" name="itemsName" #itemsname="ngModel">
          <div *ngIf="!itemsname?.valid && (itemsname?.dirty ||itemsname?.touched)" class="alert alert-danger">
            <div [hidden]="!firstname.errors.required">
              Items Name is required
            </div>
          </div>
        </div>
      </div>

      <br>
      <div class="col-md-6">
        <div class="form-group">
          Catagories
          <select class="form-control-inline" name="categories">
            <option value="" disabled selected>Catagories</option>
            <option value="Kitchen"> Kitchen</option>
            <option value="Home"> Home</option>
          </select>
        </div>
      </div>
      &nbsp;


      <div class="col-md-6">
        <div class="form-group">
            <input type="file" accept="image/*"   (change)="changeListener($event)">
        </div>

        <div>
            <input type="text" name="itemsPicture"  [(ngModel)]="model.itemsPicture" hidden>
        </div>
        </div>




      <div class="col-md-12">
        <div class="clearfix mt15 mb15">
          <button type="submit" class="btn btn-success" [disabled]="!itemForm.form.valid">Submit</button>
        </div>
      </div>
    </div>
  </form>

 
</div>